LCM/*.c
LCM/*.h
LCM/*.o
LCM/*.py
LCM/LCMtypes.jar
LCM/lcmtypes
LCM/mav
LCM/lib/libplanerlg.a
LCM/lib/libtypes.a
LCM/*.pyc
*.o
*~
controllers/constant-control/constant-control
drivers/process_control/process-control
estimators/cpp_wind/wind-estimator
sensors/stereo/opencv-calibrate
sensors/stereo/opencv-cam-calib-test
sensors/stereo/opencv-stereo
ui/plane-health-monitor/plane-health-monitor
drivers/cpp_ardupilot_mavlink_bridge/ardupilot-mavlink-bridge
externals/timesync/build
externals/timesync/lcmtypes
ui/log-monitor/log-monitor
ui/stereo-monitor/stereo-monitor
controllers/cpp_stereo_obstacles/stereo-imu-obstacles
*.ppm
*.pgm
sensors/stereo/stereo_camera_calibrate/D1.xml
sensors/stereo/stereo_camera_calibrate/D2.xml
sensors/stereo/stereo_camera_calibrate/M1.xml
sensors/stereo/stereo_camera_calibrate/M2.xml
sensors/stereo/stereo_camera_calibrate/P1.xml
sensors/stereo/stereo_camera_calibrate/P2.xml
sensors/stereo/stereo_camera_calibrate/Q.xml
sensors/stereo/stereo_camera_calibrate/R1.xml
sensors/stereo/stereo_camera_calibrate/R2.xml
sensors/stereo/stereo_camera_calibrate/mx1.xml
sensors/stereo/stereo_camera_calibrate/mx2.xml
sensors/stereo/stereo_camera_calibrate/my1.xml
sensors/stereo/stereo_camera_calibrate/my2.xml
sensors/stereo/stereo_camera_calibrate/pyimglist.txt
sensors/stereo/stereo_camera_calibrate/stereo_calibrate
sensors/stereo/vids/*
*.avi
docs/*.aux
docs/*.log
docs/*.out
docs/*.pdf
