LCM/*.c
LCM/*.h
LCM/*.o
LCM/*.py
LCM/LCMtypes.jar
LCM/lcmtypes
LCM/mav
LCM/lib/libplanerlg.a
LCM/lib/libtypes.a
*.o
*~
controllers/constant-control/constant-control
drivers/process_control/process-control
estimators/cpp_wind/wind-estimator
sensors/stereo/opencv-calibrate
sensors/stereo/opencv-cam-calib-test
sensors/stereo/opencv-stereo
ui/plane-health-monitor/plane-health-monitor
drivers/cpp_ardupilot_mavlink_bridge/ardupilot-mavlink-bridge
externals/timesync/build
externals/timesync/lcmtypes
ui/log-monitor/log-monitor
ui/stereo-monitor/stereo-monitor
