LCM/*.c
LCM/*.h
LCM/*.hpp
LCM/*.o
LCM/*.py
LCM/LCMtypes.jar
LCM/lcmtypes
LCM/mav
LCM/lib/libplanerlg.a
LCM/lib/libtypes.a
LCM/*.pyc
LCM/mavlink_message_t.h.orig
LCM/mavlink_message_t.h.rej
LCM/lcmt
*.o
*.~lock*
*~
*.dep
*.depend
*_sm.cpp
*_sm.h
lastbuild.txt
estimators/SpacialStereoFilter/test
estimators/SpacialStereoFilter/test_d
ui/git-monitor/git-monitor
estimators/StereoFilter/test
ui/trajectory-lcmgl/trajectory-lcmgl
estimators/StereoOctomap/test_d
drivers/RcSwitchDispatch/rc-switch-dispatch
controllers/state-machine/AircraftStateMachine_sm.dot
controllers/state-machine/AircraftStateMachine_sm.pdf
controllers/state-machine/state-machine-controller_d
controllers/state-machine/test_d
controllers/state-machine/test
controllers/state-machine/state-machine-controller
controllers/TrajectoryLibrary/test_d
utils/utils/utils-test_d
estimators/StereoOctomap/test
controllers/TrajectoryLibrary/test
LCM/lcm-tester/lcm-tester
ui/mono-playback/mono-playback
sensors/airspeed-check/airspeed-check
sensors/airspeed-check/airspeed-check_d
ui/video-playback/video-playback
ui/video-playback/video-playback_d
ui/midi-control/midi-control
drivers/midi/midi-lcm
ui/midi-airspeed/midi-airspeed
drivers/cpu-monitor/cpu-monitor
controllers/tvlqr/test
utils/ServoConverter/test
controllers/tvlqr/tvlqr-controller_d
controllers/tvlqr/test_d
controllers/constant-control/constant-control
utils/utils/utils-test
controllers/tvlqr/tvlqr-controller
drivers/process_control/process-control
estimators/mav-state-init/mav-state-init
estimators/cpp_wind/wind-estimator
sensors/stereo/opencv-calibrate
sensors/stereo/opencv-cam-calib-test
sensors/stereo/opencv-stereo
ui/plane-health-monitor/plane-health-monitor
drivers/cpp_ardupilot_mavlink_bridge/ardupilot-mavlink-bridge
drivers/fpga_mavlink_bridge/fpga-mavlink-bridge
drivers/fpga_reset/fpga-camera-reset
externals/timesync/build
externals/timesync/lcmtypes
ui/log-monitor/log-monitor
ui/stereo-monitor/stereo-monitor
controllers/cpp_stereo_obstacles/stereo-imu-obstacles
controllers/cpp_stereo_obstacles/stereo-imu-obstacles_d
ui/hud/hud-main
ui/hud/hud-main_d
sensors/bm-stereo/bm-stereo
sensors/bm-stereo/bm-stereo_d
estimators/mav-state-init/send-mav-state-init
sensors/stereo/opencv-calibrate_d
sensors/stereo/opencv-cam-calib-test_d
sensors/stereo/opencv-stereo_d
sensors/stereo/pushbroom-stereo
*.ppm
*.pgm
sensors/stereo/stereo_camera_calibrate/*.xml
sensors/stereo/stereo_camera_calibrate/pyimglist.txt
sensors/stereo/stereo_camera_calibrate/stereo_calibrate
ui/fpga-playback/fpga-playback
ui/fpga-playback/fpga-playback_d
sensors/stereo/vids/*
sensors/stereo/old
*.avi
docs/*.aux
docs/*.log
docs/*.out
docs/*.pdf
sensors/bm-stereo/*.eps
sensors/bm-stereo/*.png
sensors/bm-stereo/*.fig
externals/timesync/pod-build/
externals/gtest/CMakeCache.txt
externals/gtest/CMakeFiles/
externals/gtest/Makefile
externals/gtest/cmake_install.cmake
externals/gtest/libgtest.a
externals/gtest/libgtest_main.a
ui/GoForFlight/GoForFlight.depend
ui/GoForFlight/bin/
ui/GoForFlight/GoForFlight.layout
