<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="GoForFlightFrame">
		<title>Go For Flight</title>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer2" member="no">
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer3" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT2" variable="lblTimesync" member="yes">
										<label>Timesync: Offline</label>
									</object>
									<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer4" member="no">
										<object class="spacer">
											<flag>wxALL|wxFIXED_MINSIZE|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<size>46,20</size>
										</object>
										<object class="sizeritem">
											<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
												<cols>2</cols>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT30" variable="lblTimesyncLabelLocal" member="yes">
														<label>Local:</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT31" variable="lblTimesyncLocal" member="yes">
														<label>--/--/-- | --:--:--</label>
														<size>264,20</size>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT20" variable="lblTimesyncLabelGps" member="yes">
														<label>GPS:</label>
														<size>47,20</size>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT5" variable="lblTimesyncGps" member="yes">
														<label>--/--/-- | --:--:--</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT21" variable="lblTimesyncLabelCam" member="yes">
														<label>Cam:</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT22" variable="lblTimesyncCam" member="yes">
														<label>--/--/-- | --:--:--</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT3" variable="lblLogging" member="yes">
										<label>Logging: Offline</label>
									</object>
									<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer5" member="no">
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<size>46,20</size>
										</object>
										<object class="sizeritem">
											<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
												<cols>2</cols>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT14" variable="lblLogLocalLabel" member="yes">
														<label>Local:</label>
														<size>59,20</size>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT7" variable="lblLogLocal" member="yes">
														<label>#--</label>
														<size>127,20</size>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT15" variable="lblLogGpsLabel" member="yes">
														<label>GPS:</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT8" variable="lblLogGps" member="yes">
														<label>#--</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT16" variable="lblLogCamLabel" member="yes">
														<label>Cam:</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT9" variable="lblLogCam" member="yes">
														<label>#--</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT36" variable="lblAirspeed" member="yes">
										<label>Airspeed: Offline (Mean: -- / Std Dev: --)</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT6" variable="lblGps" member="yes">
										<label>GPS: Offline (Sats: --)</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT4" variable="lblStateEsimator" member="yes">
										<label>State Estimator: Offline</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT34" variable="lblController" member="yes">
										<label>Controller: Offline</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT32" variable="lblBatteryStatus" member="yes">
										<label>Battery Voltage: --</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT33" variable="lblStereo" member="yes">
										<label>Vision: Offline</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer8" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer6" member="no">
												<object class="spacer">
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT1" variable="lblGoForFlight" member="yes">
														<label>No Go</label>
														<font>
															<size>20</size>
															<style>normal</style>
															<weight>normal</weight>
															<underlined>0</underlined>
															<family>swiss</family>
															<face>Sans</face>
														</font>
														<style>wxALIGN_CENTRE</style>
													</object>
													<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="spacer">
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT10" variable="lblDiskFree" member="yes">
										<label>Disk Free: --</label>
									</object>
									<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer7" member="no">
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<size>46,20</size>
										</object>
										<object class="sizeritem">
											<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
												<cols>2</cols>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT17" variable="lblDiskFreeLabelLocal" member="yes">
														<label>Local:</label>
														<size>59,20</size>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT11" variable="lblDiskFreeLocal" member="yes">
														<label>-- GB</label>
														<minsize>60,-1</minsize>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT18" variable="lblDiskFreeLabelGps" member="yes">
														<label>GPS:</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT12" variable="lblDiskFreeGps" member="yes">
														<label>-- GB</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT19" variable="lblDiskFreeLabelCam" member="yes">
														<label>Cam:</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT13" variable="lblDiskFreeCam" member="yes">
														<label>-- GB</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer9" member="no">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT23" variable="lblCpu" member="yes">
												<label>CPU: --</label>
											</object>
											<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer10" member="no">
												<object class="spacer">
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<size>46,20</size>
												</object>
												<object class="sizeritem">
													<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
														<cols>2</cols>
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT24" variable="lblCpuLocalLabel" member="yes">
																<label>Local:</label>
																<size>59,20</size>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
														</object>
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT25" variable="lblCpuLocal" member="yes">
																<label>-- Ghz / -- C</label>
																<size>180,20</size>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
														</object>
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT26" variable="lblCpuGpsLabel" member="yes">
																<label>GPS:</label>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
														</object>
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT27" variable="lblCpuGps" member="yes">
																<label>-- Ghz / -- C</label>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
														</object>
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT28" variable="lblCpuCamLabel" member="yes">
																<label>Cam:</label>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
														</object>
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT29" variable="lblCpuCam" member="yes">
																<label>-- Ghz / -- C</label>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
														</object>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT35" variable="lblDebug" member="yes">
												<label>Debug: OK</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_CHECKBOX1" variable="chkGoPro" member="yes">
												<label>GoPro Rolling</label>
												<handler function="OnchkGoProClick" entry="EVT_CHECKBOX" />
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="tmrUpdateLcm" member="yes">
			<interval>100</interval>
			<handler function="OntmrUpdateLcmTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
